@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'), 
        url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-ExtraBold'), 
        url('../fonts/OpenSans-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'), 
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'), 
        url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}